
#contatos {
	padding-left:16px;
	margin-left: 16px;
}

#contatos form * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-left: 16px;
}
#contatos label {
	display: block;
	padding-left: 5px;
	margin-left: 16px;
}
#contatos input, textarea {
	width: 50%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 5px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-left: 16px;
}
#contatos button {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 6px 10px;
	margin-left: 16px;
}
